<!-- <form [formGroup]="roomForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Nombre de la Sala:</label>
    <input id="name" formControlName="name" />
  </div>

  <div>
    <label for="capacity">Capacidad:</label>
    <input id="capacity" type="number" formControlName="capacity" />
  </div>

  <div>
    <label for="occupation">Ocupación:</label>
    <input id="occupation" type="number" formControlName="occupation" />
  </div>

  <button type="submit" [disabled]="roomForm.invalid">Añadir Sala</button>
</form> -->


<form [formGroup]="roomForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="name" class="form-label">Nombre de la sala</label>
    <input type="text" id="name" class="form-control" formControlName="name" placeholder="Ingrese el nombre de la sala" />
    <div *ngIf="roomForm.get('name')?.invalid && roomForm.get('name')?.touched" class="text-danger">
      El nombre es requerido.
    </div>
  </div>

  <div class="mb-3">
    <label for="capacity" class="form-label">Capacidad máxima</label>
    <input type="number" id="capacity" class="form-control" formControlName="capacity" placeholder="Capacidad máxima" />
    <div *ngIf="roomForm.get('capacity')?.invalid && roomForm.get('capacity')?.touched" class="text-danger">
      La capacidad debe ser un número válido.
    </div>
  </div>

  <div class="mb-3">
    <label for="occupation" class="form-label">Ocupación</label>
    <div class="input-group">
      <input type="number" id="occupation" class="form-control" formControlName="occupation" placeholder="Ocupación actual" />
      <span class="input-group-text">%</span>
    </div>
    <div *ngIf="roomForm.get('occupation')?.invalid && roomForm.get('occupation')?.touched" class="text-danger">
      La ocupación debe ser un número entre 0 y 100.
    </div>
  </div>

  <button type="submit" class="btn btn-dark w-100" [disabled]="roomForm.invalid">
    {{ isEdit ? 'Guardar cambios' : 'Añadir sala' }}
  </button>
</form>
